## Tuples
 Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes then different..

In [2]:
## Creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
## empty list and empty tuple

lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [7]:
## list converted into tuple

number = tuple([1,2,3,4,5,6,7])
number

(1, 2, 3, 4, 5, 6, 7)

In [8]:
## tuple converted into list

number = list((1,2,3,4,5,6,7))
number

[1, 2, 3, 4, 5, 6, 7]

In [10]:
## Mixied tuple

mixed_tuple = (1, "Hello", 3.33, True)
mixed_tuple

(1, 'Hello', 3.33, True)

In [14]:
## Accessing tuple elements.

number = tuple(number)
number

(1, 2, 3, 4, 5, 6, 7)

In [17]:
number[:4]

(1, 2, 3, 4)

In [19]:
number[3:]

(4, 5, 6, 7)

In [21]:
number[::]

(1, 2, 3, 4, 5, 6, 7)

In [23]:
number[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [25]:
## Tuple operations

concatenation_tuple = number+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello', 3.33, True)

In [26]:
mixed_tuple*3

(1, 'Hello', 3.33, True, 1, 'Hello', 3.33, True, 1, 'Hello', 3.33, True)

In [27]:
number*3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [29]:
## Immutable Nature of tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned

lst = [1,2,3,4,5]
print(lst)

lst[1] = 'Chandan'
print(lst)

[1, 2, 3, 4, 5]
[1, 'Chandan', 3, 4, 5]

In [31]:
tpl = (1,2,3,4,5,6)
print(tpl)

tpl[2] = 'Chandan'
print(tpl)

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [34]:
number

(1, 2, 3, 4, 5, 6, 7)

In [36]:
## Tuple method

print(number.count(4))
print(number.index(5))

1
4

In [ ]:
## Packing and unpacking tuple

## packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [38]:
## unpacking

a,b,c= packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [39]:
## Unpacking tuple with *

number = (1,2,3,4,5,6,7,8)
first, * middle, last = number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7]
8

In [43]:
## Nested list

lst = [[1,2,3,4], [5,6,7,8], [2, False, "hello", 6.66]]

print(lst)
print(lst[0][::-1])
print(lst[-1][::-2])

[[1, 2, 3, 4], [5, 6, 7, 8], [2, False, 'hello', 6.66]]
[4, 3, 2, 1]
[6.66, False]

In [44]:
## Nested mixed list and tuple

lst = [[1,2,3,4], [5,6,7,8], (2, False, "hello", 6.66)]

print(lst)
print(lst[0][::-1])
print(lst[-1][::-2])

[[1, 2, 3, 4], [5, 6, 7, 8], (2, False, 'hello', 6.66)]
[4, 3, 2, 1]
(6.66, False)

In [46]:
## Nested tuple

tup = ((1,2,3,4), (5,6,7,8), (2, False, "hello", 6.66))

print(tup)
print(tup[0][::-1])
print(tup[-1][::-2])

((1, 2, 3, 4), (5, 6, 7, 8), (2, False, 'hello', 6.66))
(4, 3, 2, 1)
(6.66, False)

In [48]:
## Iterating over nested tuples

for sub_tup in tup:
    for item in sub_tup:
        print(item , end=" ")
    print()

1 2 3 4
5 6 7 8
2 False hello 6.66