## SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating databases. SQLite is a lightweight, serverless SQL database engine that is widely used for local storage in applications. SQLite is particularly useful for applications that require a simple, file-based database without the overhead of a full database server.

In [2]:
import sqlite3

In [4]:
## connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [7]:
cursor = connection.cursor()

In [8]:
## Create a table
cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name text Not Null,
        age Integer,
        department Text
    )
''')

## commit the changes
connection.commit()

In [ ]:
cursor.execute('''
    Select * from employees
''')

In [10]:
## Insert the data in squlite table
cursor.execute('''
Insert Into employees(name, age, department)
        values('Chandan', 24, 'SDE')
''')
cursor.execute('''
Insert Into employees(name, age, department)
        values('Nikhil', 24, 'SDE')
''')
cursor.execute('''
Insert Into employees(name, age, department)
        values('Punnet', 24, 'SDE')
''')
cursor.execute('''
Insert Into employees(name, age, department)
        values('Vivek', 24, 'SDE')
''')

connection.commit()

In [12]:
## query form table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print
for row in rows:
    print(row)

(1, 'Chandan', 24, 'SDE')
(2, 'Nikhil', 24, 'SDE')
(3, 'Punnet', 24, 'SDE')
(4, 'Vivek', 24, 'SDE')

In [13]:
## Update data 
cursor.execute('''
Update employees 
Set age=30
where name='Punnet'
''')

connection.commit()

In [14]:
## query form table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print
for row in rows:
    print(row)

(1, 'Chandan', 24, 'SDE')
(2, 'Nikhil', 24, 'SDE')
(3, 'Punnet', 30, 'SDE')
(4, 'Vivek', 24, 'SDE')

In [15]:
## Delete the data from the table
cursor.execute('''
Delete from employees
where name='Vivek'
''')

connection.commit()

In [16]:
## query form table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print
for row in rows:
    print(row)

(1, 'Chandan', 24, 'SDE')
(2, 'Nikhil', 24, 'SDE')
(3, 'Punnet', 30, 'SDE')

In [17]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [18]:
## query from table
cursor.execute('select * from sales')

rows = cursor.fetchall()

## print data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [19]:
## close the connection
connection.close()

In [21]:
## Nothing executed because connection is closed..
cursor.execute('select * from sales')

rows = cursor.fetchall()

## print data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.