In [2]:
## Declaring and assigning variables

age = 20
heigh = 5.8
name = "Chandan"
is_Student = True

## printing the variable

print("Age : ", age)
print("Height : ", heigh)
print("Name : ", name)

Age :  20
Height :  5.8
Name :  Chandan

In [ ]:
## Naming conventions

## valid variable name
first_name = "Chandan"
last_name = "Kumar"

In [ ]:
## Invalid variable name

# 3age = 43
# first-name="chadnal"
# @fsfd = "lfjsj"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3261283874.py, line 4)

In [9]:
## Case sensitivity
name = "Chandan"
Name = "chandan"

name==Name

False

In [ ]:
## Understanding variable types
## Python is a dynamically typed, type of a variable is determined at runtime

age = 25 #int
height = 5.5 # float
name = "chandan" #str
is_Student = True #bool

print(type(age))

<class 'int'>

In [11]:
## Type checking and conversion

type(height)

float

In [ ]:
age = 25
print(type(age))

# Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age = '25'
print(type(int(age)))

<class 'int'>

In [16]:
name = 'chandan'
print(type(int(name)))

ValueError: invalid literal for int() with base 10: 'chandan'

In [19]:
height = 5.88
type(height)

float

In [20]:
print(type(int(height)))

<class 'int'>

In [23]:
print(type(float(height)))
float(int(height))

<class 'float'>

5.0

In [24]:
## Dynamic typing
## Python allows the type of a variable to chane as the program executes

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## Input

age = int(input("What is the age : "))  ## by default it is in str type so convert it..

print(age)

55

In [27]:
## Simple Calculator

num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
diff = num1-num2
product = num2*num1
quotient = num1/num2

print("Sum : ", sum)
print("Difference : ", diff)
print("Multiplication : ", product)
print("Quotient : ", quotient)

Sum :  51.31999999999999
Difference :  39.78
Multiplication :  262.82349999999997
Quotient :  7.894280762564992